body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-pink{
  background-color: rgb(255, 88, 144) !important;
  color: white !important;
}

.Logo{
  width: 25px;
  height: 25px;

  cursor: pointer;
}

.linkedinLogo{
  color: #0A66C2;
}